<div class="backgroundnavimage">
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{path('app_home')}}">Accueil</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    {# <li class="nav-item">
                        <a
                                class="nav-link {% if app.request.attributes.get('_route') == 'contact.index' %}active{% endif %}"
                                href="{{ path('contact.index') }}">
                            Contact
                        </a>
                    </li> #}
                    {%  if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                            <div class="dropdown-menu">
                                {# <a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a>
                                <a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mot de passe</a> #}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('app_user_index') }}">Users</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('app_login') }}">
                                Se connecter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('app_register') }}">
                                S'inscrire
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>